*{
    box-sizing: content-box;
}
@font-face {
    font-weight: 300;
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
}
@font-face {
    font-weight: 400;
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
@font-face {
    font-weight: 500;
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
}
@font-face {
    font-weight: 600;
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
    font-weight: 700;
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
}
@font-face {
    font-weight: 800;
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
}
* {
    box-sizing: border-box;
}
body, main, div, h1, h2, h3 {
    margin: 0;
    padding: 0;
}
ol, ul,li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin:0;
}
a {
    text-decoration: none;
    color: inherit;
}

.bottom {
    width: 100vw;
    height: 15rem;
    background-color: #242424;
    position: relative;
    bottom: -29.2rem;
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
}
.logo {
    position: relative;
    margin-left: 2.5rem;
    
}
p {
    color: white;
    margin-left: 2rem;
}