*{
    box-sizing: content-box;
}
@font-face {
    font-weight: 300;
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
}
@font-face {
    font-weight: 400;
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
@font-face {
    font-weight: 500;
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
}
@font-face {
    font-weight: 600;
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
    font-weight: 700;
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
}
@font-face {
    font-weight: 800;
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
}
* {
    box-sizing: border-box;
}
body, main, div, h1, h2, h3 {
    margin: 0;
    padding: 0;
}
ol, ul,li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin:0;
}
a {
    text-decoration: none;
    color: inherit;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
/* 기본 스타일 */

/* 미디어 쿼리 */
@media screen and (max-width: 1920px) {
    /* 화면 크기가 768px 이하일 때의 스타일 */
  }
  
  @media screen and (max-width: 480px) {
    /* 화면 크기가 480px 이하일 때의 스타일 */
  }


/* mainpage */
.mainimg{
    width :106rem;
    height:28rem;
}
.mon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Pretendard-Bold';
    font-size: 2rem;
    margin-right: 13rem;
    margin-top: 2rem;
}
.monnow {
    margin-right: 1.5rem;
}
.date{
    display: flex;
    justify-content: flex-end;
    margin-right: 13rem;
    font-family: 'Pretendard-Light';
    font-size: 1rem;
    margin-top: 0.8rem;
}
/* BOX */
.boxwrap{
    display: flex;
    flex-direction: row;
    margin-left: 10rem;
    margin-right: 10rem;
    justify-content: center;
}

.box {
    width: 15rem;
    height: 16rem;
    background-color: #ffffff;
    margin-right: 1rem;
    box-shadow: 1px 1px 6px -1px #d9d9d9;
    border-radius: 1.8rem;
    margin-top: 3rem;
}
.box:hover {
    position: relative;
    top: -5px;
    
    transition-property: top;
    transition-duration: 0.5s, 0.2s;
    transition-timing-function: ease, ease-in-out, ease-in;
    transition-delay: 0,0,0;

    transition: all 0.3s ease 0s;
}
@keyframes Boxup {
    0%{
        position: relative;
        top: 0px;
    }
    100%{
        position: relative;
        top: -5px;
    }
}
@keyframes Boxdown {
    0%{
        position: relative;
        top: -5px;
    }
    100%{
        position: relative;
        top: 0px;
    }
}
.text{
    font-family: 'Pretendard-Bold';
    font-size: 1.2rem;
    margin-left: 1.5rem;
    margin-top: 1.2rem;
}
.intext {
    
    font-family: 'Pretendard-Regular';
    font-size: 0.7rem;
    margin-top: 1.3rem;
    margin-left: 3rem;
}
.intext:hover {
    cursor: pointer;
    color: #FDBD5E;
}
.hr1{
    border: 0.001rem solid #dbdbdb;
    width: 13rem;
}
.new{
    font-family: 'Pretendard-Bold';
    color: #ed4141;
    margin-left: 5.8rem;
    margin-right: 1rem;
    /* display: none; */
}
.up{
    display: inline;
    width: 1rem;
    height: 1rem;
    position: relative;
    left: 95px;
    display: none;
}
i::before{
    display: inline;
    color: #ed4141;
    margin-left:6.5rem;
}
.minibox {
    display: flex;
    flex-direction: column;
    width: 1rem;
    height: 1rem;
    background-color: #19ae4b;
    color: white;
    font-family: 'Pretendard-Regular';
    font-size: 0.7rem;
    text-align: center;
    border-radius: 4.5px;
    position: relative;
    bottom : 11.2rem;
    align-content: space-between;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    
}


/* issue */

.isuue_wrap{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-right: 30rem;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: -43rem;
    margin-top:3rem;
    display: flex;
    justify-content: center;
}


.square {
    width: 37.5rem;
    height: 35rem;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #D9D9D9;
    margin-top: 1.5rem;
    margin-left: 28.8rem;

}



.right_square1 {
    width: 13rem;
    height: 9rem;
    /* border: 0.5px solid black; */
    border-radius: 1rem;
    margin-left: 23rem;
    margin-top: -31.8rem;
    position: absolute;
    background-image: url("../img/img1.jpg");
    background-size: cover; 
  
    
}

.right_square2 {
    width: 13rem;
    height: 9rem;
    /* border: 0.5px solid black; */
    border-radius: 1rem;
    margin-left: 23rem;
    margin-top: -11.5rem;
    background-image: url("../img/img2.jpg");
    background-size: cover; 
}

.line1 {
    border-top: 1.5px solid #D9D9D9;
    width: 97%;
    margin-top: 2.5rem;
    margin-left: 0.8rem;
}

.line2 {
    border-top: 1.5px solid #D9D9D9;
    width: 97%;
    margin-top: 4rem;
    margin-left: 0.8rem;
}

/* 기사1 */



.article_title1 {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2.5rem;
    margin-left: 1.3rem;
    text-align: left;
}

.article1 {
    font-size: 0.7rem;
    margin-top: 1rem;
    margin-left: 1.3rem;
    white-space:normal;
    width: 20rem;
    height: 30rem;
    line-height: 1.5rem;
}
.date1 {
    font-size: 0.7rem;
    color: #767676;
    margin-left: 1.3rem;
    margin-top: -19.5rem;
    text-align: left;
    
}
.news1 {
    font-size: 0.7rem;
    color: #767676;
    margin-left: 6rem;
    margin-top: -0.7rem;
    text-align: left;
    
    
    
}

/* 기사2 */
.article_title2 {
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    margin-top: 2.5rem;
    margin-left: 1.3rem;
    text-align: left;
    
}

.article2 {
    font-size: 0.7rem;
    white-space:normal;
    width: 20rem;
    height: 30rem;
    line-height: 1.5rem;
    margin-left: 1.3rem;
    margin-top: 1rem;
}
.date2 {
    font-size: 0.7rem;
    color: #767676;
    margin-top: -21rem;
    margin-left: 1.3rem;
}
.news2 {
    font-size: 0.7rem;
    color: #767676;
    margin-left: 6rem;
    margin-top: -0.7rem;
}   

.banner {
    width:47rem;
    height: 7rem;
    margin-left: 29rem;
    margin-top: 7.5rem;
    margin-bottom: 10rem;
}
.adsquare {
    width:8.5rem;
    height:35rem;
    border-radius: 1rem;
    border: 0.5px solid black;
    margin-top: -35rem;
    margin-left: 68rem;
    background-image: url("../img/1e44b53709c14b8391b1c0ff3caa9e31_image_ad_120x600.png");
    background-size: cover;   
}
