<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고민게시판</title>
    <link rel="stylesheet" href="../static/css/board_detail.css">
    <script src="https://kit.fontawesome.com/ea807c9ffb.js" crossorigin="anonymous"></script>
</head>
<body>
    



    <!-- 고민게시판 디테일 페이지 -->

        <div class="write_wrapper">
            <div class="Title">
                <h2>고민게시판</h2>
            </div>
            <div class="Write">
                <h4>00고등학교 시간제 교사 구합니다1</h4>
                <div class="Write_1">
                    <p>등록자명 : </p>
                    <p>등록일 : </p>
                </div>
            </div>

            <form class="content_wrapper">

                    <div class="content_1">
                        <div class="content">        
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                        <div>
                            <button class="like_btn" id="like_Btn"><i class="fa-solid fa-heart"></i></button>
                        </div>
                    </div>

                    <div class="comment">

                        <h4>댓글</h4>
                        <div class="comment_id"> 
                            <div class="comment_id2">
                                opopxxxx
                            </div>
                            <div class="comment_date">
                                2023-08-13-12:19
                            </div>
                        </div>
                        <div class="comment_ct"> 
                            너무 공감합니다 ㅠㅠ 
                        </div>

                    </div>
                
            </form>

            <div class="write_form">
                <textarea class="comment_write" placeholder="댓글을 작성해주세요" cols="110" rows="10"></textarea>
            </div>

            <button class="post_btn">게시하기</button>
        </div>


</body>
</html>