{% extends 'nav_footer.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/writepage.css' %}">
    <title>고민게시글 작성</title>
</head>
<body>
    <!-- 고민 글쓰기 부분 -->
    <div class="write_wrapper">
        <div class="Title">
            <h2>고민게시판</h2>
        </div>
        <div class="Write">
            <h4>글 작성하기</h4>
        </div>

        <form action="{% url 'create_post' %}" method="post" enctype="multipart/form-data">  <!-- 파일 업로드를 위한 enctype 추가 -->
            {% csrf_token %}
            <div class="title2">
                <dt>
                    <p class="title3">제목</p>
                    <dd><input class="titlebox" type="text" placeholder="제목입력" name="title"></dd>
                </dt>
            </div>
            <div class="WriteForm">
                <textarea class="writeform" placeholder="글을 작성해주세요" cols="110" rows="20" name="content"></textarea>
            </div>
            <div class="Attachment">
                <input type="file" name="file">
            </div>
            <input type="hidden" name="category" value="concern">
            <button><p>게시하기</p></button>
        </form>
    </div>        
</body>
</html>
{% endblock %}