{% extends 'nav_footer.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/writepage.css' %}">
    <title>교육자료 작성</title>
</head>
<body>
    <!-- 교육자료 글쓰기 부분 -->

    <div class="write_wrapper">
        <div class="Title">
            <h2>교육자료</h2>
        </div>
        <div class="Write">
            <h4>글 작성하기</h4>
        </div>
        <form action="{% url 'create_post' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="title2">
                <dt>
                    <p class="title3">제목</p>
                    <dd><input class="titlebox" type="text" name="title" placeholder="제목입력"></dd>
                </dt>
            </div>
            <div class="WriteForm">
                <textarea class="writeform" name="content" placeholder="글을 작성해주세요" cols="110" rows="20"></textarea>
            </div>
            <div class="FileForm">
                <input type="file" name="file">
            </div>
            <input type="hidden" name="category" value="edu">
            <button type="submit"><p>게시하기</p></button>
        </form>
    </div>
</body>
</html>
{% endblock %}
