<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/footer.css">
    <script src="https://kit.fontawesome.com/32afc995e9.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="bottom">
        <img class = "logo" src="../static/img/logo2.png" width="150px">
        <p>아낌없이 주는 나무 <br><br> 경상남도 진주시 진주대로 501 경상국립대학교<br>멋쟁이사자처럼</p>
    </div>
</body>
</html>
