<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="../static/css/footer2.css">
</head>
<body>
    <div class="footer_wrapper">

        <div class="footer">

            <img class = "logo2" src="../static/img/footerlogo.png" >
        

            <div class="footer_info">
                <p>경상남도 진주시 진주대로501 경상국립대학교</p>
                <br>
                <p>멋쟁이사자처럼</p>
                <br>
                <p>팀명 : 스팸김치찌개</p>
                <br>
                <p>김수연 김재용 박경훈 이지상 정시은</p>
            </div>

        </div>

    </div>

</body>
</html>