{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/free_board.css' %}">
  <title>자유게시판</title>
</head>
<body>
  <!-- nav바 -->

  <div class="nav_wrapper">

    <div class="nav">

        <a href="{% url 'main' %}"><img class="logo" src="{% static 'img/navlogo.jpg' %}" alt="logo"></a>

        <div class="navbar">

            <ul class="bar">
                <li><a href="{% url 'free_board' %}">자유게시판</a></li>
                <li><a href="{% url 'question_board' %}">질문게시판</a></li>
                <li><a href="{% url 'concern_board' %}">고민게시판</a></li>
                <li><a href="{% url 'edu_board' %}">교육자료</a></li>
                <li><a href="{% url 'know_how_board' %}">노하우</a></li>
            </ul>
        

            <div class="join">
              <span class="login"><a href="{% url 'mypage' %}">마이페이지</a></span>
            </div>

        </div>


    </div>
  </div> 


    <div class="wrapper">
      
      <div class="backgroundTitle"><span>자유게시판</span></div>
      
      <div class="main">
        <div class="upMain">
          <div class="postName">게시글</div>
          <div class="search">
            <div class="searchBox"><input type="text" class="textBox"></div>
            <a href="" class="searchButton"><div class="searchButtonText">검색</div></a>
          </div>
        </div>

        <div class="midMain">
          {% for post in posts %}
          <a href="{% url 'post_detail' post.id %}" class="post">
            <div class="postTitle">{{ post.title }}</div>
            <div class="postTime">{{ post.created_at }}</div>
          </a>
          {% endfor %}
        </div>
        <div class="downMain">
          <div class="writeWrapper">
            <button class="write_btn"><a href="{% url 'free_write_page' %}">글쓰기</a></button>
          </div>
          <div class="numberWrapper">
            <a href="" class="before">&lt;</a>
            {% for i in page_range %}
            <a href="{% url 'free_board' %}?page={{ i }}" class="num{{ i }}">{{ i }}</a>
            {% endfor %}
            <a href="" class="after">&gt;</a>
          </div>
        </div>
      </div>

      <!-- footer -->

      <div class="footer_wrapper">

        <div class="footer">

            <img class="logo2" src="{% static 'img/footerlogo.png' %}" width="130px">
        
            <div class="footer_info">
                <p>경상남도 진주시 진주대로501 경상국립대학교</p>
                <br>
                <p>멋쟁이사자처럼</p>
                <br>
                <p>팀명 : 스팸김치찌개</p>
                <br>
                <p>김수연 김재용 박경훈 이지상 정시은</p>
            </div>

        </div>

      </div>

</body>
</html>
