{% extends 'nav_footer.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/know-how_board.css' %}" />
    <title>노하우</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="backgroundTitle"><span>노하우</span></div>
      <div class="main">
        <div class="upMain">
          <div class="postName">게시글</div>
          <div class="search">
            <form action="{% url 'know-how_search' %}" method="GET">
              <div class="searchwrapper">
                <div class="searchBox">
                  <input
                    type="text"
                    class="textBox"
                    name="q"
                    placeholder="검색어를 입력하세요"
                  />
                </div>
                <button type="submit" class="searchButton">
                  <div class="searchButtonText">검색</div>
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="midMain">
          {% for post in posts %}
          <a href="{% url 'detail' post.id %}" class="post">
            <div class="postTitle">{{ post.title }}</div>
            <div class="postTime">{{ post.created_at }}</div>
          </a>
          {% endfor %}
        </div>

        <div class="downMain">
          <div class="writeWrapper">
            {% if user.is_authenticated %}
            <button class="write_btn">
              <a href="{% url 'know-how_write' %}">글쓰기</a>
            </button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}
