<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="https://kit.fontawesome.com/32afc995e9.js" crossorigin="anonymous"></script>
</head>
<body>
    <body>
        <section class="login-form">
            <a href="../templates/main.html"><h1><img src="../static/img/login_img.jpg" width="150px"></h1></a>
            <form action="">
                <div class="int-area">
                    <input class="box" type="text" placeholder="아이디 입력(6~20자)"/>
                </div>
                <div class="int-area">
                    <input class="box" type="password" placeholder="비밀번호 입력"/>
                </div>
                <div class="btn-area">
                    <button id="btn" type="submit">LOGIN</button>
                </div>
            </form>
            <div class="exist">
                <span>아직 회원이 아니신가요?</span>
                <a href="./join.html">회원가입</a>
            </div>
        </section>   
    </body>
    </html>
</body>
</html>

