<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아낌없이 주는 나무</title>
    <link rel="stylesheet" href="../static/css/nav2.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/new.css">
    <link rel="stylesheet" href="../static/css/footer2.css">
    <script src="https://kit.fontawesome.com/32afc995e9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>

    <!-- nav바 -->

    <div class="nav_wrapper">

        <div class="nav">

            <a href="../templates/main.html"><img class="logo" src="../static/img/navlogo.jpg" alt="logo"></a>

            <div class="navbar">

                <ul class="bar">
                    <li><a href="../templates/free_board.html">자유게시판</a></li>
                    <li><a href="../templates/question_board.html">질문게시판</a></li>
                    <li><a href="../templates/concern_board.html">고민게시판</a></li>
                    <li><a href="../templates/edu_board.html">교육자료</a></li>
                    <li><a href="../templates/know-how_board.html">노하우</a></li>
                </ul>
            

                <div class="join">
                    <span class="login"><a href="../templates/mypage.html">마이페이지</a></span>
                    <a href="../templates/login.html">로그아웃</a>
                </div>

            </div>


        </div>
    </div> 
    

    <!-- main page -->
    <img class="mainimg" src="../static/img/Frame 15.png">
    <div class="mon">
        <p class="monnow">후원 현황</p>
        <p class="num">123,456,789원</p>
    </div>
    <p class="date">2023.07.29 기준</p>
    
    <div class="boxwrap">
        <div class="box">
            <p class="text">HOT 게시글</p>
            <p class="intext">HOT 게시글<span class="new">new</span><img class="up" src="../img/Icon-Up@2x.png"></p> 
            <hr class="hr1">
            <p class="intext">HOT 게시글<span class="new">new</span><img class="up" src="../img/Icon-Up@2x.png"></p> 
            <hr class="hr1">
            <p class="intext">HOT 게시글<span class="new">new</span><img class="up" src="../img/Icon-Up@2x.png"></p> 
            <hr class="hr1">
            <p class="intext">HOT 게시글<span class="new">new</span><img class="up" src="../img/Icon-Up@2x.png"></p> 
            <hr class="hr1">
            <p class="intext">HOT 게시글<span class="new">new</span><img class="up" src="../img/Icon-Up@2x.png"></p> 
            <div class="miniWrap">
                <p class="minibox">1</p>
                <p class="minibox">2</p>
                <p class="minibox">3</p>
                <p class="minibox">4</p>
                <p class="minibox">5</p>
            </div>
            
        </div>
        <div class="box">
            <p class="text">최근게시글</p>
            <p class="intext">HOT 게시글<span class="new">new</span><img class="up" src="./아낌없이 주는 나무/Icon-Up@2x.png"></p> 
            <hr class="hr1">
            <p class="intext">HOT 게시글<span class="new">new</span><img class="up" src="./아낌없이 주는 나무/Icon-Up@2x.png"></p> 
            <hr class="hr1">
            <p class="intext">HOT 게시글<span class="new">new</span><img class="up" src="./아낌없이 주는 나무/Icon-Up@2x.png"></p> 
            <hr class="hr1">
            <p class="intext">HOT 게시글<span class="new">new</span><img class="up" src="./아낌없이 주는 나무/Icon-Up@2x.png"></p> 
            <hr class="hr1">
            <p class="intext">HOT 게시글<span class="new">new</span><img class="up" src="./아낌없이 주는 나무/Icon-Up@2x.png"></p> 
            <div class="miniWrap">
                <p class="minibox">1</p>
                <p class="minibox">2</p>
                <p class="minibox">3</p>
                <p class="minibox">4</p>
                <p class="minibox">5</p>
            </div>
        </div>
        <div class="box">
            <p class="text">고민게시글</p>
            <p class="intext">HOT 게시글<span class="new">new</span><img class="up" src="../img/Icon-Up@2x.png"></p> 
            <hr class="hr1">
            <p class="intext">HOT 게시글<span class="new">new</span><img class="up" src="../img/Icon-Up@2x.png"></p> 
            <hr class="hr1">
            <p class="intext">HOT 게시글<span class="new">new</span><img class="up" src="../img/Icon-Up@2x.png"></p> 
            <hr class="hr1">
            <p class="intext">HOT 게시글<span class="new">new</span><img class="up" src="../img/Icon-Up@2x.png"></p> 
            <hr class="hr1">
            <p class="intext">HOT 게시글<span class="new">new</span><img class="up" src="../img/Icon-Up@2x.png"></p> 
            <div class="miniWrap">
                <p class="minibox">1</p>
                <p class="minibox">2</p>
                <p class="minibox">3</p>
                <p class="minibox">4</p>
                <p class="minibox">5</p>
            </div>
        </div>
    </div>
    <!-- issue -->
    <p class="title">최근이슈</p>
    <div class="squareWrap">
        <div class="square">
            <a href="https://news.sbs.co.kr/news/endPage.do?news_id=N1007288278&plink=ORI&cooper=NAVER" target="_blank"><p class="article_title1">땡볕도 막지 못한 교사집회..."악성 민원 그만"</p></a>
            <p class="article1">주최 측 추산 3만 명(경찰 추산은 2만 1천 명)의 교사들은 검은 옷차림으로 모여 폭염 속 아스팔트 열기에도 아랑곳하지 않고 교육 현장의 교권 침해 실태를 고발하고 대책 마련을 촉구했습니다.
            교사들이 주말에 거리로 나선 건 지난 22일에 이어 2주째로, 특정 교원노조나 단체가 아닌 교사들이 자발적으로 집회를 이어가고 있습니다.</p>
            <div class="right_square1"></div>
            <p class="date1">2023.07.30</p><p class="news1">네이버뉴스</p>
            <div class="line1"></div>   
    
            <a href="https://newsis.com/view/?id=NISX20230729_0002395309&cID=10811&pID=10800"><p class="article_title2">부산서 또 중학생이 교사 폭행...</p></a>
            <p class="article2">지난달 부산의 한 초등학교에서 3학년 학생이 수업 시간에 교사를 폭행한 사건에 이어, 북구의 한 중학교에서도 2학년 학생이 교사를 폭행한 사실이 뒤늦게 알려졌다.
            29일 부산시교육청 등에 따르면 지난달 말 북구의 한 중학교 교무실에서 A군이 교사 B씨의 얼굴과 가슴 등을 주먹으로 폭행했다.</p>
            
            <p class="date2">2023.07.30</p><p class="news2">네이버뉴스</p>
            <div class="right_square2"></div>
            <div class="line2"></div>
        </div>
        <div class="adsquare"></div>
        <img class="banner" src="../img/banner.png" alt="">
    </div>
    <!-- footer -->
    <div class="footer_wrapper">

        <div class="footer">

            <img class = "logo2" src="../static/img/footerlogo.png" >
        

            <div class="footer_info">
                <p>경상남도 진주시 진주대로501 경상국립대학교</p>
                <br>
                <p>멋쟁이사자처럼</p>
                <br>
                <p>팀명 : 스팸김치찌개</p>
                <br>
                <p>김수연 김재용 박경훈 이지상 정시은</p>
            </div>

        </div>

    </div>
    
    
</body>
</html>