{% extends 'nav_footer.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
    <title>마이페이지</title>
</head>
<body>
    <div class="wrapper">
        <h2>마이페이지</h2>

        <div class="id">
            <p>아이디: {{ user.username }}</p>
            <div class="teacher_card">
                <p>교원증</p>
                <div class="id_img">
                    <img src="{{ user.license.url }}" alt="교원증 이미지" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            </div>
        </div>

        <div class="write_info">
            <div class="Post">
                <h3>내가 작성한 게시글</h3><br><br>
                <ul>
                    {% for post in my_posts %}
                        <div class="line"><li><a href="{% url 'detail' post.pk %}">{{ post.title }}</a></li><br><br></div>
                    {% empty %}
                        <li>작성한 게시글이 없습니다.</li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="Comment">
                <h3>내가 작성한 댓글</h3><br><br>
                <ul>
                    {% for comment in my_comments %}
                        <div class="line"><li><a href="{% url 'detail' comment.pk %}">{{ comment.post }}</a></li><br><br></div>
                    {% empty %}
                        <li>작성한 댓글이 없습니다.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        
    </div>
</body>
</html>
{% endblock %}