<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mypage.css">
    <title>MyPage</title>
</head>
<body>

    <div class="wrapper">
        <h2>마이페이지</h2>

        <div class="id">
            <p>아이디</p>

            <div class="teacher_card">
                <p>교원증</p>
                <div class="id_img"><img src=""/></div>
            </div>

        </div>

        <div class="write_info">

            <div class="Post">
                <h3>내가 작성한 게시글</h3>
            </div>

            <div class="Comment">
                <h3>내가 작성한 댓글</h3>
            </div>

        </div>

    </div>
</body>

</html>