<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./nav.css">
    <script src="https://kit.fontawesome.com/32afc995e9.js" crossorigin="anonymous"></script>
</head>
<body>
        <div class="nav">
            <img class = "logo" src="./logo3.png" width="150px">
            <ul class="bar">
                <li><a href="#">자유게시판</a></li>
                <li><a href="#">질문게시판</a></li>
                <li><a href="#">고민게시판</a></li>
                <li><a href="#">교육자료</a></li>
                <li><a href="#">노하우</a></li>
                </ul>
                <p class="line"></p>
                <div class="join">
                <a href="#">로그인</a>
                <a href="#">회원가입</a>
            </div>
        </div>
</body>
</html>
