<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="../static/css/nav2.css">
</head>
<body>
    <div class="wrapper">

        <div class="nav">

            <img class="logo" src="../static/img/navlogo.jpg" alt="logo">

            <div class="navbar">

                <ul class="bar">
                    <li><a href="#">자유게시판</a></li>
                    <li><a href="#">질문게시판</a></li>
                    <li><a href="#">고민게시판</a></li>
                    <li><a href="#">교육자료</a></li>
                    <li><a href="#">노하우</a></li>
                </ul>
            

                <div class="join">
                    <span class="login"><a href="#">로그인</a></span>
                    <a href="#">회원가입</a>
                </div>

            </div>


        </div>
    </div> 
</body>
</html>