{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>아낌없이 주는 나무</title>
    <link rel="stylesheet" href="{% static 'css/nav2.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer2.css' %}" />
  </head>
  <body>
    <!-- nav바 -->

    


        <div class="nav">

            <a href="{% url 'main' %}"><img class="logo" src="{% static 'img/navlogo.jpg' %}" alt="logo"></a>

            <div class="navbar">

                <ul class="bar">
                    <li><a href="{% if user.is_authenticated %}{% url 'free_board' %}{% else %}javascript:void(0);{% endif %}" 
                           {% if not user.is_authenticated %}onclick="alert('로그인 후 이용해주세요.');"{% endif %}>
                           자유게시판</a></li>
                    <li><a href="{% if user.is_authenticated %}{% url 'question_board' %}{% else %}javascript:void(0);{% endif %}" 
                           {% if not user.is_authenticated %}onclick="alert('로그인 후 이용해주세요.');"{% endif %}>
                           질문게시판</a></li>
                    <li><a href="{% if user.is_authenticated %}{% url 'concern_board' %}{% else %}javascript:void(0);{% endif %}" 
                           {% if not user.is_authenticated %}onclick="alert('로그인 후 이용해주세요.');"{% endif %}>
                           고민게시판</a></li>
                    <li><a href="{% if user.is_authenticated %}{% url 'edu_board' %}{% else %}javascript:void(0);{% endif %}" 
                           {% if not user.is_authenticated %}onclick="alert('로그인 후 이용해주세요.');"{% endif %}>
                           교육자료</a></li>
                    <li><a href="{% if user.is_authenticated %}{% url 'know-how_board' %}{% else %}javascript:void(0);{% endif %}" 
                           {% if not user.is_authenticated %}onclick="alert('로그인 후 이용해주세요.');"{% endif %}>
                           노하우</a></li>
                </ul>
                
            

                <div class="join">
                    {% if not user.is_authenticated %}
                    <span class="login"><a href="{% url 'login' %}">로그인</a></span>
                    <a href="{% url 'join' %}">회원가입</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <a href="{% url 'mypage' %}">마이페이지</a>
                    <span class="logout"><a href="{% url 'logout' %}">로그아웃</a></span>
                    {% endif %}


                </div>

            </div>



          
          </div>
        </div>
      </div>
    </div>

    {% block content %} {% endblock %}

    <!-- footer -->
    <div class="footer_wrapper">
      <div class="footer">
        <img class="logo2" src="{% static 'img/footerlogo.png' %}" alt="" />

        <div class="footer_info">
          <p>경상남도 진주시 진주대로501 경상국립대학교</p>
          <br />
          <p>멋쟁이사자처럼</p>
          <br />
          <p>팀명 : 스팸김치찌개</p>
          <br />
          <p>김수연 김재용 박경훈 이지상 정시은</p>
        </div>
      </div>
    </div>
  </body>
</html>
