<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./reset.css">
  <link rel="stylesheet" href="./sytle.css">
  <title>자유게시판</title>
</head>
<body>
  <div class="wrapper">
    <div class="nav"></div>
    <div class="backgroundTitle"><div class="title">자유게시판</div></div>
    
    <div class="main">
      <div class="upMain">
        <div class="postName">게시글</div>
        <div class="search">
          <div class="searchBox"><input type="text" class="textBox"></div>
          <a href="" class="searchButton"><div class="searchButtonText">검색</div></a>
        </div>
      </div>

      <div class="midMain">
        <a href="" class="post post1">
          <div class="postTitle">1. 00고등학교 시간제 교사 구합니다</div>
          <div class="postTime">2023.07.30</div>
        </a>
        <a href="" class="post post2">
          <div class="postTitle">2. 00고등학교 시간제 교사 구합니다</div>
          <div class="postTime">2023.07.30</div>
        </a>
        <a href="" class="post post3">
          <div class="postTitle">3. 00고등학교 시간제 교사 구합니다</div>
          <div class="postTime">2023.07.30</div>
        </a>
        <a href="" class="post post4">
          <div class="postTitle">4. 00고등학교 시간제 교사 구합니다</div>
          <div class="postTime">2023.07.30</div>
        </a>
        <a href="" class="post post5">
          <div class="postTitle">5. 00고등학교 시간제 교사 구합니다</div>
          <div class="postTime">2023.07.30</div>
        </a>
        <a href="" class="post post6">
          <div class="postTitle">6. 00고등학교 시간제 교사 구합니다</div>
          <div class="postTime">2023.07.30</div>
        </a>
        <a href="" class="post post7">
          <div class="postTitle">7. 00고등학교 시간제 교사 구합니다</div>
          <div class="postTime">2023.07.30</div>
        </a>
        <a href="" class="post post8">
          <div class="postTitle">8. 00고등학교 시간제 교사 구합니다</div>
          <div class="postTime">2023.07.30</div>
        </a>
        <a href="" class="post post9">
          <div class="postTitle">9. 00고등학교 시간제 교사 구합니다</div>
          <div class="postTime">2023.07.30</div>
        </a>
        <a href="" class="post post10">
          <div class="postTitle">10. 00고등학교 시간제 교사 구합니다</div>
          <div class="postTime">2023.07.30</div>
        </a>
      </div>
      <div class="downMain">
        <div class="writeWrapper">
          <a href= "" class="write"><div class="writeText">글쓰기</div></a>
        </div>
        <div class="numberWrapper">
          <a href="" class="before">&lt;</a>
          <a href="" class="num1">1</a>
          <a href="" class="num2">2</a>
          <a href="" class="num3">3</a>
          <a href="" class="num4">4</a>
          <a href="" class="num5">5</a>
          <a href="" class="num6">6</a>
          <a href="" class="after">&gt;</a>
        </div>
      </div>
    </div>

    <div class="footer"></div>
  </div>
</body>
</html>