{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="{% static 'css/join.css' %}">
    <script src="https://kit.fontawesome.com/32afc995e9.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="content">
            <!-- HEADER -->
            <header>
                <h2>회원가입</h2>
                <h3>가입을 통해 더 다양한 서비스를 만나보세요!</h3>
            </header>

            <!-- INPUT -->
            <section>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="info" id="info__id">
                        <div id="id-input">
                            <input class="box" type="text" name="username" placeholder="아이디 입력(6~20자)"/>
                            <button id="id-check">중복 확인</button>
                        </div>
                        <div class="error-msg">{{ username_error }}</div>
                    </div>
                    <div class="info" id="info__pw">
                        <input class="box" type="password" name="password" placeholder="비밀번호 입력 (문자, 숫자, 특수문자 포함 8~20자)"/>
                        <div class="error-msg">{{ password_error }}</div>
                    </div>
                    <div class="info" id="info__pwRe">
                        <input class="box" type="password" name="password_confirm" placeholder="비밀번호 확인"/>
                        <div class="error-msg">{{ password_confirm_error }}</div>
                    </div>
                    <div class="info" id="info__face">
                        <div id="face-input">
                            <input class="box_face" type="file" name="profile_picture" placeholder="프로필 사진 등록"/>
                            <button id="face-check">프로필 사진 등록</button>
                        </div>
                        <div class="error-msg">{{ profile_picture_error }}</div>
                    </div>
                    <button type="submit" id="submit">가입하기</button>
                </form>
            </section>
            <div id="result-fail">{{ registration_error }}</div>
            <div class="exist">
                <span>이미 회원이신가요?</span>
                <a href="{% url 'login' %}">로그인 하러가기</a>
            </div>
        </div>
    </div>
</body>
</html>
