<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/mypage.css">
    <title>마이페이지</title>
</head>
<body>

    
    <!-- nav바 -->

    <div class="nav_wrapper">

        <div class="nav">

            <a href="../templates/main.html"><img class="logo" src="../static/img/navlogo.jpg" alt="logo"></a>

            <div class="navbar">

                <ul class="bar">
                    <li><a href="../templates/free_board.html">자유게시판</a></li>
                    <li><a href="../templates/question_board.html">질문게시판</a></li>
                    <li><a href="../templates/concern_board.html">고민게시판</a></li>
                    <li><a href="../templates/edu_board.html">교육자료</a></li>
                    <li><a href="../templates/know-how_board.html">노하우</a></li>
                </ul>
            

                <div class="join">
                    <span class="login"><a href="./mypage.html">마이페이지</a></span>
                    <a href="./login.html">로그아웃</a>
                </div>

            </div>


        </div>
    </div> 


    <div class="wrapper">
        <h2>마이페이지</h2>

        <div class="id">
            <p>아이디</p>

            <div class="teacher_card">
                <p>교원증</p>
                <div class="id_img"><img src=""/></div>
            </div>

        </div>

        <div class="write_info">

            <div class="Post">
                <h3>내가 작성한 게시글</h3>
            </div>

            <div class="Comment">
                <h3>내가 작성한 댓글</h3>
            </div>

        </div>

    </div>


    <!-- footer -->

    <div class="footer_wrapper">

        <div class="footer">

            <img class = "logo2" src="../static/img/footerlogo.png" width="130px">
        

            <div class="footer_info">
                <p>경상남도 진주시 진주대로501 경상국립대학교</p>
                <br>
                <p>멋쟁이사자처럼</p>
                <br>
                <p>팀명 : 스팸김치찌개</p>
                <br>
                <p>김수연 김재용 박경훈 이지상 정시은</p>
            </div>

        </div>

    </div>

</body>

</html>